body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	font-family: Arial;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wrapper{
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	width:100%;
	/*wrapper estava pequeno entao alterei*/
}

.nav{
	position: static;
 	width: 100%;
	background-color: #333;
	height: 15%;
}

.container{
	position: relative;
	list-style-type: none;
	margin: 0 auto 0 auto;
	padding: 0;
	overflow: hidden;
	top: 0;
	width: 95%;
	text-align: center;
}

.screen1 {
    /*float: left;
   	margin-left: 3.5%;
   	margin-top: 0.4%*/
   	float: center;
   	display: inline-block;
   	margin-top: 0%;
   	width: 4%;
   	text-align: center;
   	margin-left: 2%;
   	margin-right: 2%;
   	height: 100%;
   }

.screen1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 9px;
    text-decoration: none;
    font-size: 11pt;
  }

.container li a:hover{
	color: #b3b3b3;
}

.screen-menu{
	display: none;
}
.screen-apple{
	display: none;
}
.screen-shop{
	display: none;
}

/*TRATANDO A RESPONSIVIDADE DA NAV BAR*/
@media screen and (max-width: 680px) {
	.screen1{
		display: none;
	}

	.screen1 a{
		display: none;
	}

	.screen-menu{
		float: left;
		display: inline-block;
		margin-top: 0%;
		width: 4%;
		margin-left: 3%;
		margin-right: 3%;
		height: 100%;
		padding: 10px 1px;
	}

	.screen-apple{
		float: center;
		display: inline-block;
		margin-top: 0%;
		width: 4%;
		margin-left: 3%;
		margin-right: 3%;
		height: 100%;
		padding: 10px 1px;
	}

	.screen-shop{
		float: right;
		display: inline-block;
		margin-top: 0%;
		width: 4%;
		margin-left: 3%;
		margin-right: 3%;
		height: 100%;
		padding: 10px 1px;
	}

}
/*TRATANDO A RESPONSIVIDADE DA NAV BAR*/
@media screen and (max-width: 400px) {
	.screen1{
		display: none;
	}

	.screen1 a{
		display: none;
	}

	.screen2{
		float: none;
		display: inline-block;
		margin-top: 0%;
		width: 4%;
		margin-left: 3%;
		margin-right: 3%;
		height: 100%;
		padding: 10px 1px;
	}

	.screen2 a #menu{
   		float: right;
   		text-align: right;
	}

	.screen2 a #apple{
   		float: center;
   		text-align: center;
	}

	.screen2 a #shop{
   		float: left;
   		text-align: left;
	}
}

.telarodativa{
	width: 100%;
	height: 528px;
	background-repeat: no-repeat;
	position: relative;
	background-image: url("./resources/images/image5_iphone7red.png");
	background-position: 50% 25%;
	margin: 0;

}

/*Adaptando o tamanho das imagens carregadas do banco para o espaço das promos*/
.promos_wwdc_img{
	width: 100%;
	height: 100%;
}
.promos_mackbook_img{
	width: 100%;
	height: 100%;
}
.promos_acessories_img{
	width: 100%;
	height: 100%;
}
.promos_suppliers_img{
	width: 100%;
	height: 100%;
}

.promos_wwdc{
	width:24.8%;
	height: 200px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	/*background-image: url("../resources/images/image1_wwdc17_2.jpeg");*/
	margin: 1px 1px 1px 1px;
	background-position: 50% 50%;
}
/*TRANTANDO A RESPOSIVIDADE DA TELA ROTATIVA*/
@media screen and (max-width: 995px) {
	.promos_wwdc{
		width: 49.5%;
		height: 200px;
		display: inline-block;
		/*background-image: url("../resources/images/image1_wwdc17_2.jpeg ");*/
	}
}
@media screen and (max-width: 400px) {
	.promos_wwdc{
		width: 100%;
		height: 200px;
		display: block;
		/*background-image: url("../resources/images/image1_wwdc17.jpg ");*/
	}
}

.promos_mackbook{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	/*background-image: url("../resources/images/image2_macbook_2.jpg");*/
	background-position: 50% 50%;
}
@media screen and (max-width: 995px) {
	.promos_mackbook{
		width: 49.5%;
		height: 200px;
		display: inline-block;
		/*background-image: url("../resources/images/image2_macbook_2.jpg");*/
	}
}
@media screen and (max-width: 400px) {
	.promos_mackbook{
		width: 100%;
		height: 200px;
		display: block;
		/*background-image: url("../resources/images/image2_macbook.jpg");*/
	}
}

.promos_acessories{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	/*background-image: url("../resources/images/image3_accessories_2.jpg");*/
	background-position: 50% 50%;
}
@media screen and (max-width: 995px) {
	.promos_acessories{
		width: 49.5%;
		height: 200px;
		display: inline-block;
		/*background-image: url("../resources/images/image3_accessories_2.jpg");*/
	}
}
@media screen and (max-width: 400px) {
	.promos_acessories{
		width: 100%;
		height: 200px;
		margin-top: 1px;
		float: block;
		/*background-image: url("../resources/images/image3_accessories.jpg");*/
	}
}
.promos_suppliers{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	/*background-image: url("../resources/images/image4_supplier_2.jpg");*/
	background-position: 50% 50%;
}
@media screen and (max-width: 995px) {
	.promos_suppliers{
		width: 49.5%;
		height: 200px;
		display: inline-block;
		/*background-image: url("../resources/images/image4_supplier_2.jpg");*/
	}
}
@media screen and (max-width: 400px) {
	.promos_suppliers{
		width: 100%;
		height: 200px;
		margin-top: 1px;
		float: none;
		display: block;
		/*background-image: url("../resources/images/image4_supplier.jpg");*/
		background-position: 50% 50%;
	}
}

.links1{
	display: none;
}

.columns{
	position: relative;
	font-size: 10pt;
	display: inline-block;
	width:100%;
	height: 80%;
}

.columns > div > ul{
	font-weight: bold;
}
.columns > div > ul > li{
	position: relative;
	list-style-type: none;
	font-weight: normal;
	color: #696969;
}
.columns > div > ul > li:hover{
	text-decoration:underline;
	color: black;
}
.shop-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	margin: 0px;
	position: 0px;
	font-size: 9pt;
	line-height: 150%;
	margin-left: 10%;
}
.app-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.edu-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.conta-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0;
	font-size: 9pt;
	line-height: 150%;

}
.sobre-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}

@media screen and (max-width: 995px) {
	.shop-alinhamento{
		box-sizing: border-box;
		position: relative;
		float: left;
		margin: 0px;
		position: 0px;
		font-size: 9pt;
		line-height: 150%;
		margin-left: 5%;
	}

	.sobre-alinhamento{
		box-sizing: border-box;
		position: relative;
		float: left;
		padding-left: 0%;
		font-size: 9pt;
		line-height: 150%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 875px) {
	.sobre-alinhamento, .conta-alinhamento, .edu-alinhamento, .app-alinhamento, .shop-alinhamento{
		display: none;
	}

	.columns div ul{
		padding-left: 0px;
	}

	.links2{ /*RELATIVO À LI DENTRO DA UL*/
    	float: none;
    	display: block;
    	margin-top: 0%;
    	/*width: 4%;*/
    	text-align: left;
    	height: 100%;
    	padding-left: 0.5%;
    	line-height: 200%;
    }

    .links2 a {
    	display: block;
    	color: #6E6E6E;
    	text-align: left;
    	/*padding: 8px 9px;*/
    	font-size: 9pt;
    	text-decoration: none;
    }

    .links2 a:hover{
    	color: #2E2E2E;
    	text-decoration: none;
    }
    
    .links1{ /*RELATIVO  À UL*/
    	padding-left: 5%;
		padding-right: 5%;
    	display: block;
    }
    /*HR são as linhas usadas para separar os links */

	.hr2 {
    	color: #6E6E6E; 
    	width: 100%; 
    	height: 1px;
    	/*padding-left: 0.8%;
    	margin-right: 70%;*/
	}

}

@media screen and (max-width: 340px) {
		.sobre-alinhamento, .conta-alinhamento, .edu-alinhamento, .app-alinhamento, .shop-alinhamento{
		display: none;
	}

	.links2{ /*RELATIVO À LI DENTRO DA UL*/
    	float: none;
    	display: block;
    	margin-top: 0%;
    	/*width: 4%;*/
    	text-align: left;
    	height: 100%;
    	padding-left: 0.5%;
    	line-height: 200%;
    }

    .links2 a {
    	display: block;
    	color: #6E6E6E;
    	text-align: left;
    	/*padding: 8px 9px;*/
    	font-size: 9pt;
    	text-decoration: none;
    }

    .links2 a:hover{
    	color: #2E2E2E;
    	text-decoration: none;
    }

    .links1{ /*RELATIVO  À UL*/
    	display: block;
    }

    /*HR são as linhas usadas para separar os links */

	.hr2 {
    	color: #6E6E6E; 
    	width: 100%; 
    	height: 1px;
    	/*padding-left: 0.8%;
    	margin-right: 70%;*/
	}
}

.footer{
	position:relative;
    bottom:0;
	width: 100%;
	height: 15%;
	/*background-color: black;*/
	margin-bottom: 0%;
}

.footer  div  a{
	text-decoration: none;
}

.footer  div  a:hover{
	text-decoration: underline;
}


.foot1{
	/*position: relative;*/
    text-align: left;
    font-size: 8.5pt;
    font-weight: normal;
	color: #696969;
	padding-left: 13%;
}

.foot1 > a{
	 color: #0080FF;
}

.foot2{
	/*position: relative;*/
    text-align: left;
    font-size: 8.5pt;
    font-weight: normal;
	color: #696969;
	padding-left: 13%;
}

.foot2 > a{
	 color: #424242;
	 padding-right: 1%;
	 padding-left: 1%;
}

.foot2 img{
	padding-left: 15%;
	margin-top: 0%;
	padding-right: 7%;
}

.foot3{
	position: relative;
   /* text-align: left;*/
    font-size: 8.5pt;
    font-weight: normal;
	color: #696969;
	/*padding-left: 13%;*/
}

.foot3 > a{
	 color: #424242;
	/* padding-right: 1%;
	 padding-left: 1%;*/
}

/*HR são as linhas usadas para separar os links */

.hr1 {
    	color: #6E6E6E; 
    	width: 80%; 
    	height: 1px;
    	margin-left: 13%;
    	margin-bottom: 0.5%;
    	/*padding-left: 0.8%;
    	margin-right: 70%;*/
}

@media screen and (max-width: 995px) {
	/*.footer div img{
	margin-left: 0%;
	margin-top: 0%;
	}

	.foot2{
		float: left;
		position: relative;
		text-align: left;
		font-size: 8.5pt;
		font-weight: normal;
		color: #696969;
		/*padding-left: 3%;
	}

	.foot3{
		position: relative;
		float: left;
		/* text-align: left;
		font-size: 8.5pt;
		font-weight: normal;
		color: #696969;
		/*padding-left: 5%;
	}

	/*hr1 é a linha entre o foot1 e o foot2
	.hr1 {
		display: none;
    }*/
}
@media screen and (max-width: 875px) {}
@media screen and (max-width: 340px) {}