body {
	margin: 0;
	padding: 0;
	background-color: #FFFAFA;
	font-family: Arial;
}

.wrapper{
	margin: 0 auto;
	max-width: 100%;
	/*wrapper estava pequeno entao alterei*/
}

.nav{
 	width: 100%;
	background-color: #333;
}

.container{
	list-style-type: none;
	margin: 0 auto 0 auto;
	padding: 0;
	overflow: hidden;
	top: 0;
	width: 80%;

}


/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    }*/

li {
    /*float: left;
   	margin-left: 3.5%;
   	margin-top: 0.4%*/
   	float: left;
   	display: inline-block;
   	margin-top: 0.3%;
   	width: 10%;
   	text-align: center;
   }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 5px;
    text-decoration: none;
    font-size: 11pt;
  }

li a:hover{
	color: #b3b3b3;
}

li .image{
	margin-top: 50%;
}

.telarodativa{
	width: 100%;
	height: 510px;
	background-repeat: no-repeat;
	position: relative;
	background-image: url("../resources/images/image5_iphone7red.png");
	margin: 0;
}


.promos_wwdc{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	position: relative;
	float: left;
	background-image: url("../resources/images/image1_wwdc17.jpg ");
	background-position: 50% 50%;
}
.promos_mackbook{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	background-image: url("../resources/images/image2_macbook.jpg");
	background-position: 50% 50%;
}
.promos_acessories{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	background-image: url("../resources/images/image3_accessories.jpg");
	background-position: 50% 50%;
}
.promos_suppliers{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	background-image: url("../resources/images/image4_supplier.jpg");
	background-position: 50% 50%;
}

.columns{
	position: relative;
	font-size: 10pt;
	display: inline-block;
	padding-left: 10%;
}

.columns > div > ul{
	font-weight: bold;

}
.columns > div > ul > li{
	position: relative;
	list-style-type: none;
	font-weight: normal;
	color: #696969;
}
.columns > div > ul > li:hover{
	text-decoration:underline;
	color: black;
}
.shop-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	margin: 0px;
	position: 0px;
	font-size: 9pt;
	line-height: 150%;
}
.app-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.edu-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.conta-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0;
	font-size: 9pt;
	line-height: 150%;

}
.sobre-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.footer{

}
