body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	font-family: Arial;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wrapper{
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	/*wrapper estava pequeno entao alterei*/
}

.nav{
 	width: 100%;
	background-color: #333;
	height: 44px;
}

.container{
	list-style-type: none;
	margin: 0 auto 0 auto;
	padding: 0;
	overflow: hidden;
	top: 0;
	width: 95%;
	text-align: center;
}

.screen1 {
    /*float: left;
   	margin-left: 3.5%;
   	margin-top: 0.4%*/
   	float: none;
   	display: inline-block;
   	margin-top: 0%;
   	width: 4%;
   	text-align: center;
   	margin-left: 2%;
   	margin-right: 2%;
   	height: 100%;
   }

.screen1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 9px;
    text-decoration: none;
    font-size: 11pt;
  }

.container li a:hover{
	color: #b3b3b3;
}

.screen2{
	display: none;
}

@media screen and (max-width: 680px) {
	.screen1{
		display: none;
	}

	.screen1 a{
		display: none;
	}

	.screen2{
		float: none;
		display: inline-block;
		margin-top: 0%;
		width: 4%;
		margin-left: 3%;
		margin-right: 3%;
		height: 100%;
		padding: 10px 1px;
	}

	.screen2 a #menu{
   		float: right;
   		text-align: right;
	}

	.screen2 a #apple{
   		float: center;
   		text-align: center;
	}

	.screen2 a #shop{
   		float: left;
   		text-align: left;
	}
}

@media screen and (max-width: 400px) {
	.screen1{
		display: none;
	}

	.screen1 a{
		display: none;
	}

	.screen2{
		float: none;
		display: inline-block;
		margin-top: 0%;
		width: 4%;
		margin-left: 3%;
		margin-right: 3%;
		height: 100%;
		padding: 10px 1px;
	}

	.screen2 a #menu{
   		float: right;
   		text-align: right;
	}

	.screen2 a #apple{
   		float: center;
   		text-align: center;
	}

	.screen2 a #shop{
   		float: left;
   		text-align: left;
	}
}

.telarodativa{
	width: 100%;
	height: 528px;
	background-repeat: no-repeat;
	position: relative;
	background-image: url("../resources/images/image5_iphone7red.png");
	background-position: 50% 25%;
	margin: 0;

}
.promos_wwdc{
	width:24.8%;
	height: 200px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	background-image: url("../resources/images/image1_wwdc17_2.jpeg");
	margin: 1px 1px 1px 1px;
	background-position: 50% 50%;
}
@media screen and (max-width: 995px) {
	.promos_wwdc{
		width: 49.5%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image1_wwdc17_2.jpeg ");
	}
}
@media screen and (max-width: 400px) {
	.promos_wwdc{
		width: 100%;
		height: 200px;
		display: block;
		background-image: url("../resources/images/image1_wwdc17.jpg ");
	}
}
.promos_mackbook{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	background-image: url("../resources/images/image2_macbook_2.jpg");
	background-position: 50% 50%;
}
@media screen and (max-width: 995px) {
	.promos_mackbook{
		width: 49.5%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image2_macbook_2.jpg");
	}
}
@media screen and (max-width: 400px) {
	.promos_mackbook{
		width: 100%;
		height: 200px;
		display: block;
		background-image: url("../resources/images/image2_macbook.jpg");
	}
}

.promos_acessories{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	background-image: url("../resources/images/image3_accessories_2.jpg");
	background-position: 50% 50%;
}
@media screen and (max-width: 995px) {
	.promos_acessories{
		width: 49.5%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image3_accessories_2.jpg");
	}
}
@media screen and (max-width: 400px) {
	.promos_acessories{
		width: 100%;
		height: 200px;
		margin-top: 1px;
		float: block;
		background-image: url("../resources/images/image3_accessories.jpg");
	}
}
.promos_suppliers{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	background-image: url("../resources/images/image4_supplier_2.jpg");
	background-position: 50% 50%;
}
@media screen and (max-width: 995px) {
	.promos_suppliers{
		width: 49.5%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image4_supplier_2.jpg");
	}
}
@media screen and (max-width: 400px) {
	.promos_suppliers{
		width: 100%;
		height: 200px;
		margin-top: 1px;
		float: none;
		display: block;
		background-image: url("../resources/images/image4_supplier.jpg");
		background-position: 50% 50%;
	}
}

.links1{
	display: none;
}

.columns{
	position: relative;
	font-size: 10pt;
	display: inline-block;
	/*padding-left: 10%;*/
	width:100%;
	height: 300px;
}

.columns > div > ul{
	margin-left: 0%;
	margin-right:0%;
	font-weight: bold;
}
.columns > div > ul > li{
	position: relative;
	list-style-type: none;
	font-weight: normal;
	color: #696969;
}
.columns > div > ul > li:hover{
	text-decoration:underline;
	color: black;
}
.shop-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	margin: 0px;
	position: 0px;
	font-size: 9pt;
	line-height: 150%;
	margin-left: 10%;
}
.app-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.edu-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.conta-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0;
	font-size: 9pt;
	line-height: 150%;

}
.sobre-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}

@media screen and (max-width: 870px) {
	.sobre-alinhamento, .conta-alinhamento, .edu-alinhamento, .app-alinhamento, .shop-alinhamento{
		display: none;
	}
	.links2{
		box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
	}

	.links1{
		position: relative;
		font-size: 9pt;
	}
}
@media screen and (max-width: 340px) {
	.sobre-alinhamento, .conta-alinhamento, .edu-alinhamento, .app-alinhamento, .shop-alinhamento{
		display: none;
	}
	.links2{
		box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
	}

	.links1{
		position: relative;
		font-size: 9pt;
	}
}

.footer{
	position:absolute;
    bottom:0;
	width: 100%;
	height: 20%;
	/*background-color: black;*/
	margin-bottom: 0%;
}

.footer  div  a{
	text-decoration: none;
}

.footer  div  a:hover{
	text-decoration: underline;
}

.footer div img{
	padding-left: 15%;
	margin-top: -1%;
}

.foot1{
	position: relative;
    text-align: left;
    font-size: 8.5pt;
    font-weight: normal;
	color: #696969;
	padding-left: 13%;
}

.foot1 > a{
	 color: #0080FF;
}

.foot2{
	position: relative;
    text-align: left;
    font-size: 8.5pt;
    font-weight: normal;
	color: #696969;
	padding-left: 13%;
}

.foot2 > a{
	 color: #424242;
	 padding-right: 1%;
	 padding-left: 1%;
}