body {
	margin: 0;
	padding: 0;
	background-color: #FFFAFA;
	font-family: Arial;
}
.nav{
 	width: 100%;
	background-color: #333;
}

.container{
	list-style-type: none;
	margin: 0 auto 0 auto;
	padding: 0;
	overflow: hidden;
	top: 0;
	width: 95%;
	text-align: center;
}

li .screen1 {
    /*float: left;
   	margin-left: 3.5%;
   	margin-top: 0.4%*/
   	float: none;
   	display: inline-block;
   	margin-top: 0%;
   	width: 4%;
   	text-align: center;
   	margin-left: 2%;
   	margin-right: 2%;
   	height: 100%;
   }

li a .screen1{
    display: block;
    color: white;
    text-align: center;
    padding: 9px 9px;
    text-decoration: none;
    font-size: 11pt;
  }

li a:hover{
	color: #b3b3b3;
}

}
.wrapper{
	margin: 0 auto;
	max-width: 100%;
	/*wrapper estava pequeno entao alterei*/
}
<<<<<<< HEAD

.nav{
<<<<<<< HEAD
	height: 50px;
	width: 100%;
	background-color: black;
=======
 	width: 100%;
	background-color: #333;
}

.container{
	list-style-type: none;
	margin: 0 auto 0 auto;
	padding: 0;
	overflow: hidden;
	top: 0;
	width: 80%;

>>>>>>> origin/master
}


/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    }*/

li {
    /*float: left;
   	margin-left: 3.5%;
   	margin-top: 0.4%*/
   	float: left;
   	display: inline-block;
   	margin-top: 0.3%;
   	width: 10%;
   	text-align: center;
   }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 5px;
    text-decoration: none;
    font-size: 11pt;
  }

li a:hover{
	color: #b3b3b3;
}

li .image{
	margin-top: 50%;
=======
/*.nav{
	background-color: black;
	width: 100%;
	height: 50px;
}
.nav > ul {
	background-color: black;
	font-size: 12pt;
	color: white;
}
.nav > ul > li {
	display: inline;
	padding:5px 5%;
	line-height: 100%;
	margin-top: 0%;
	margin-bottom: 0%;
>>>>>>> origin/master
}
.nav > ul > li:hover{
	color: #A9A9A9;
}*/
.telarodativa{
	width: 100%;
	height: 510px;
	background-repeat: no-repeat;
	position: relative;
	background-image: url("../resources/images/image5_iphone7red.png");
<<<<<<< HEAD
	background-position: 50% 25%;
=======
	background-position: 50% 50%;
>>>>>>> origin/master
	margin: 0;

}
.promos_wwdc{
<<<<<<< HEAD
=======

>>>>>>> origin/master
	width:24.8%;
	height: 200px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	background-image: url("../resources/images/image1_wwdc17_2.jpeg");
	margin: 1px 1px 1px 1px;
	background-position: 50% 50%;
<<<<<<< HEAD
}
@media screen and (max-width 680px) {
	.promos_wwdc{
		width: 49.8%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image1_wwdc17_2.jpeg ");
	}
}
@media screen and (max-width 340px) {
	.promos_wwdc{
		width: 100%;
		height: 200px;
		display: block;
		background-image: url("../resources/images/image1_wwdc17.jpg ");
	}
=======
>>>>>>> origin/master
}


.promos_mackbook{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	background-image: url("../resources/images/image2_macbook_2.jpg");
	background-position: 50% 50%;
}
<<<<<<< HEAD
@media screen and (max-width 680px) {
	.promos_mackbook{
		width: 49.8%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image2_macbook_2.jpg");
	}
}
@media screen and (max-width 340px) {
	.promos_mackbook{
		width: 100%;
		height: 200px;
		display: block;
		background-image: url("../resources/images/image2_macbook.jpg");
	}
}
=======


>>>>>>> origin/master

.promos_acessories{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	background-image: url("../resources/images/image3_accessories_2.jpg");
	background-position: 50% 50%;
}
<<<<<<< HEAD
@media screen and (max-width 680px) {
	.promos_acessories{
		width: 49.8%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image3_accessories_2.jpg");
	}
}
@media screen and (max-width 340px) {
	.promos_acessories{
		width: 100%;
		height: 200px;
		margin-top: 1px;
		float: block;
		background-image: url("../resources/images/image3_accessories.jpg");
	}
}
=======

>>>>>>> origin/master
.promos_suppliers{
	width: 24.8%;
	height: 200px;
	background-repeat: no-repeat;
	margin: 1px 1px 1px 1px;
	float: left;
	position: relative;
	background-image: url("../resources/images/image4_supplier_2.jpg");
	background-position: 50% 50%;
}
<<<<<<< HEAD
@media screen and (max-width 680px) {
=======
@media screen and (max-width: 680px) {
	.promos_wwdc{
		width: 49.8%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image1_wwdc17_2.jpeg ");
	}
	.promos_mackbook{
		width: 49.8%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image2_macbook_2.jpg");
	}
	.promos_acessories{
		width: 49.8%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image3_accessories_2.jpg");
	}
>>>>>>> origin/master
	.promos_suppliers{
		width: 49.8%;
		height: 200px;
		display: inline-block;
		background-image: url("../resources/images/image4_supplier_2.jpg");
	}
}
<<<<<<< HEAD
@media screen and (max-width 340px) {
=======
@media screen and (max-width: 400px) {
	.promos_wwdc{
		width: 100%;
		height: 200px;
		display: block;
		background-image: url("../resources/images/image1_wwdc17.jpg ");
	}
	.promos_mackbook{
		width: 100%;
		height: 200px;
		display: block;
		background-image: url("../resources/images/image2_macbook.jpg");
	}
	.promos_acessories{
		width: 100%;
		height: 200px;
		margin-top: 1px;
		float: block;
		background-image: url("../resources/images/image3_accessories.jpg");
	}
>>>>>>> origin/master
	.promos_suppliers{
		width: 100%;
		height: 200px;
		margin-top: 1px;
		float: none;
		display: block;
		background-image: url("../resources/images/image4_supplier.jpg");
		background-position: 50% 50%;
	}
<<<<<<< HEAD
}*/
=======
	.columns{
		position: relative;
		font-size: 10pt;
		display: inline-block;
		padding-left: 10%;
	}

	.columns > div > ul{
		margin-left: 10%;
		font-weight: bold;

	}
	.columns > div > ul > li{
		position: absolute;
		opacity: 0;
	}
	.columns > div > ul > li:active{
		position: absolute;
		opacity: 1;
	}
}
>>>>>>> origin/master
.columns{
	position: relative;
	font-size: 10pt;
	display: inline-block;
	padding-left: 10%;
}

.columns > div > ul{
<<<<<<< HEAD
	margin-left: 20%;
=======
	margin-left: 10%;
>>>>>>> origin/master
	font-weight: bold;

}
.columns > div > ul > li{
	position: relative;
	list-style-type: none;
	font-weight: normal;
	color: #696969;
}
.columns > div > ul > li:hover{
	text-decoration:underline;
	color: black;
}
.shop-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	margin: 0px;
	position: 0px;
	font-size: 9pt;
	line-height: 150%;
	margin-left: 10%;
}
.app-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.edu-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.conta-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0;
	font-size: 9pt;
	line-height: 150%;

}
.sobre-alinhamento{
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-left: 0%;
	font-size: 9pt;
	line-height: 150%;
}
.footer{

}
