body {
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

.wrapper{
	margin: 0 auto;
	max-width: 780px;
}

.nav{
	height: 8%;
	width: 100%;
	background-color: black;
}

.nav-itens{

}

.gallery{

}

.promos{

}

.columns{

}

.footer{

}