body {
	margin: 0;
	padding: 0;
	background-color: #ccc;
	font-family: Arial;
}

.wrapper{
	margin: 0 auto;
	max-width: 780px;
}

.nav{
	height: 8%;
	width: 100%;
	background-color: black;
}

.nav-itens{

}

.gallery{

}

.promos_position_wwdc{
	float: left;
}

.promos_wwdc{
	background-size:25% 200px;
	background-repeat: no-repeat;
	margin: 1px;
	background-image: url("https://github.com/GabrielaSouza94/Projeto-WEB/blob/master/image1_wwdc17.jpg");
}
.promos_mackbook{
	background-size: 25% 200px;
	background-repeat: no-repeat;
	margin: 1px;
	background-image: url("https://github.com/GabrielaSouza94/Projeto-WEB/blob/master/image2_macbook.jpg");
}
.promos_acessories{
	background-size: 25% 200px;
	background-repeat: no-repeat;
	margin: 1px;
	background-image: url("https://github.com/GabrielaSouza94/Projeto-WEB/blob/master/image3_accessories.jpg");
}
.promos_suppliers{
	background-size: 25% 200px;
	background-repeat: no-repeat;
	margin: 1px;
	background-image: url("https://github.com/GabrielaaSouza94/Projeto-WEB/blob/master/image4_supplier.jpg");
}

.columns{
	font-size: 10pt;
	display: inline-block;
}

.columns > ul{
	font-weight: bold;

}
.columns > ul > li{
	position: relative;
	list-style-type: none;
	font-weight: normal;
}
.footer{

}
