body {
    padding-top: 90px;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}


/*CSS NAV BAR >>>>>>*/

.nav {
    position: static;
    width: 100%;
    background-color: #333;
    height: 15%;
}

.container {
    position: relative;
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 95%;
    text-align: center;
    height: 42px;
}

.screen1 {
    float: center;
    display: inline-block;
    margin-top: 0%;
    width: 4%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
}

.screen1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 9px;
    text-decoration: none;
    font-size: 11pt;
}

.container li a:hover {
    color: #b3b3b3;
}

.screen-apple {
    display: none;
}


/*<<<< CSS NAV BAR*/


/*CSS FOOTER >>>>*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 15%;
    margin-bottom: 0%;
}

.footer div a {
    text-decoration: none;
}

.footer div a:hover {
    text-decoration: underline;
}

.foot1 {
    text-align: left;
    font-size: 8.5pt;
    font-weight: normal;
    color: #696969;
    padding-left: 13%;
}

.foot1 > a {
    color: #0080FF;
}

.foot2 {
    text-align: left;
    font-size: 8.5pt;
    font-weight: normal;
    color: #696969;
    padding-left: 13%;
}

.foot2 > a {
    color: #424242;
    padding-right: 1%;
    padding-left: 1%;
}

.foot2 img {
    padding-left: 15%;
    margin-top: 0%;
    padding-right: 7%;
}

.foot3 {
    position: relative;
    font-size: 8.5pt;
    font-weight: normal;
    color: #696969;
}

.foot3 > a {
    color: #424242;
}

.hr1 {
    color: #424242;
    width: 80%;
    height: 1px;
    margin-left: 13%;
    margin-bottom: 0.5%;
}


/*<<<< CSS FOOTER */

/*CSS WARNING BOX>>>>>*/
.warning{
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 15%;
}

/*TRATANDO A RESPONSIVIDADE DA WARNING BOX*/

@media screen and (max-width: 995px) {
    .warning{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    }
}


/*TRATANDO A RESPONSIVIDADE DA WARNING BOX*/

@media screen and (max-width: 700px) {
    .warning{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    }
}


/*TRATANDO A RESPONSIVIDADE DA WARNING BOX*/

@media screen and (max-width: 550px) {
    .warning{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    }
}

/*TRATANDO A RESPONSIVIDADE DA WARNING BOX*/

@media screen and (max-width: 400px) {
    .warning{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    }
}
/*<<<<<CSS WARNING BOX*/


/* CSS LOGIN BOX >>>>>*/

.container2 {
    margin-top: 4%;
    margin-bottom: 15%;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}


/*TRATANDO A RESPONSIVIDADE DO CONTAINER DE LOGIN*/

@media screen and (max-width: 995px) {
    .col-md-offset-3 {
        margin-left: 15%;
        margin-right: 15%;
    }
    .col-md-6 {
        width: 70%;
    }
}


/*TRATANDO A RESPONSIVIDADE DO CONTAINER DE LOGIN*/

@media screen and (max-width: 700px) {
    .col-md-offset-3 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .col-md-6 {
        width: 80%;
    }
}


/*TRATANDO A RESPONSIVIDADE DO CONTAINER DE LOGIN*/

@media screen and (max-width: 550px) {
    .col-md-offset-3 {
        margin-left: 5%;
        margin-right: 5%;
    }
    .col-md-6 {
        width: 90%;
    }
}


/* <<<<<< CSS LOGIN BOX*/
