body {
    padding-top: 90px;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}


/*CSS NAV BAR >>>>>>*/

.nav {
    position: static;
    width: 100%;
    background-color: #333;
    height: 15%;
}

.container {
    position: relative;
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 95%;
    text-align: center;
    height: 42px;
}

.screen1 {
    float: center;
    display: inline-block;
    margin-top: 0%;
    width: 4%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
}

.screen1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 9px;
    text-decoration: none;
    font-size: 11pt;
}

.container li a:hover {
    color: #b3b3b3;
}

.screen-apple {
    display: none;
}


/*<<<< CSS NAV BAR*/


/*CSS FOOTER >>>>*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 15%;
    margin-bottom: 0%;
}

.footer div a {
    text-decoration: none;
}

.footer div a:hover {
    text-decoration: underline;
}

.foot1 {
    text-align: left;
    font-size: 8.5pt;
    font-weight: normal;
    color: #696969;
    padding-left: 13%;
}
.text div textarea{
  height: 10em;
  vertical-align: top
}
.foot1 > a {
    color: #0080FF;
}

.foot2 {
    text-align: left;
    font-size: 8.5pt;
    font-weight: normal;
    color: #696969;
    padding-left: 13%;
}

.foot2 > a {
    color: #424242;
    padding-right: 1%;
    padding-left: 1%;
}

.foot2 img {
    padding-left: 15%;
    margin-top: 0%;
    padding-right: 7%;
}

.foot3 {
    position: relative;
    font-size: 8.5pt;
    font-weight: normal;
    color: #696969;
}

.foot3 > a {
    color: #424242;
}

.hr1 {
    color: #424242;
    width: 80%;
    height: 1px;
    margin-left: 13%;
    margin-bottom: 0.5%;
}


/*<<<< CSS FOOTER */

/*CSS BOX BOX>>>>>*/
.panel {
    margin-top: 4%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 8%;
    width: 50%;
    height: 15%;
}

/*TRATANDO A RESPONSIVIDADE DA BOX*/

@media screen and (max-width: 995px) {
    .panel{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    }
}


/*TRATANDO A RESPONSIVIDADE DA BOX*/

@media screen and (max-width: 800px) {
    .panel{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    }
}


/*TRATANDO A RESPONSIVIDADE DA BOX*/

@media screen and (max-width: 700px) {
    .panel{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    }
}

/*TRATANDO A RESPONSIVIDADE DA BOX*/

@media screen and (max-width: 500px) {
    .panel{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    }
}
/*<<<<<CSS BOX*/


/*CSS WARNING BOX>>>>>*/
.warning{
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 15%;
}

/*TRATANDO A RESPONSIVIDADE DA WARNING BOX*/

@media screen and (max-width: 995px) {
    .warning{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    }
}


/*TRATANDO A RESPONSIVIDADE DA WARNING BOX*/

@media screen and (max-width: 700px) {
    .warning{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    }
}


/*TRATANDO A RESPONSIVIDADE DA WARNING BOX*/

@media screen and (max-width: 550px) {
    .warning{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    }
}

/*TRATANDO A RESPONSIVIDADE DA WARNING BOX*/

@media screen and (max-width: 400px) {
    .warning{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    }
}
/*<<<<<CSS WARNING BOX*/

.coluna1{ 
    width:6% ;height:10% }
.coluna11{ 
    width:6% ; }

.coluna2{ 
   width:17% ;height:10% }
.coluna22{ 
    width:17% ; }

.coluna3{ 
    width:30% ;height:10%}
.coluna33{ 
    width:30% ; }

.coluna4{ 
    width:30% ;height:10% }
.coluna44{ 
    width:30% ; }

.coluna5{ 
    width:17% ;height:10% }
.coluna55{ 
    width:17% ; }

.row { /*linha da imagem na tabela*/
     margin-right: 0px;
     margin-left: 0px; 
}

.thumbnail{ /*dimensão da imagem na tabela*/
    width: 100px;
    margin-left: 150%
}  
